<!DOCTYPE html>
<html>
  <head>
    <title>SSK</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'semantic.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'custom', 'data-turbolinks-track': 'reload' %>
</html>
